html, body{
  font-family: Helvetica;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 500;
  /* font-family: 'HelveticaNeue'; */
}

section {
  width: 100%;
  padding: 0 7%;
  display: grid;
  margin: 0;
  max-width: none;
  height: 100vh;
}
.content {
  vertical-align: middle;
  display: grid;
}

.home {
  background: url(../src/sea.jpg) no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.center  {
  margin: auto;

}
.center b {
  color: purple;
}
h1{
  font-size: 48px;
  color: rgb(70, 78, 148);
}
.qrCode{
  position: absolute;
 bottom: 10px;
 right: 10px;
}
.qrCode img{
  width: 98px;
  height: 128px;
}
.social{
  position: relative;
  bottom: 0px;
  margin: auto;
  text-align: center;
}
.social i{
  font-size: 64px;
  color: rgb(85, 26, 139) !important;
}
.social ul{
  list-style-type: none;
  margin: 40px 0;
  padding: 0;
}
.social ul li {
  display: inline;
  padding: 15px;
}
.social a{
  text-decoration: none;
}
